<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="">
  <script src="/downloads/axios.js"></script>
  <script src="/downloads/queue.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <input type="file" id="fileId">
  <button onclick="fn()">上传1sss</button>
  <script>
    console.log(1)
    const {enqueue} = createPromiseQueue(3)
    function fn() {
      const fileObj = fileId.files[0]
      const chunkSize = 1024 * 10 *10
      const list = []
      const totalChunk = Math.ceil(fileObj.size/chunkSize)
      let cc = 0
      for (let index = 0; index < totalChunk; index++) {
        
        const start =   index * chunkSize
        const end = Math.min(start+chunkSize,fileObj.size)
        const chunk = fileObj.slice(start, end)
        list.push(chunk)
        enqueue(uploadMd)
      }
    
      function uploadMd() {
        
        const ddc = list.pop()
        cc++
        if(!ddc){return}
        let fm = new FormData()
        fm.append("isEnd", list.length===0)
        fm.append("dddcccc", 12312231)
        fm.append("fileB", fileId.files[0])
        return axios.post("/no/uploadFile?a="+cc, fm, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
      }
      
      
    }
  </script>
</body>

</html>